{% extends "nurse/navbar.html" %}
{% load widget_tweaks %}
{% block title %}Patient - Family - Create{% endblock %}
{% block bodycontent %}
    <div id="root">
        <div class="relative md:ml-64 ">
            <div class="px-4 mx-auto w-full">
                <section class="py-6 mx-3 md:mx-6 px-3">
                    <div class="flex flex-wrap justify-center">
                        <div class="flex w-full md:w-1/2">
                            <h3 class="text-3xl"
                                style="font-family: Poppins;
                                       font-style: normal;
                                       font-weight: bold;
                                       font-size: 36px;">
                                Add Family Details
                            </h3>
                        </div>
                    </div>
                    <div class="flex my-8 pt-8 justify-center">
                        <div class="w-full md:w-1/2">
                            <form method="post">
                                {% csrf_token %}
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field.errors }}
                                    {{ hidden_field }}
                                {% endfor %}
                                {% if form.errors %}
                                    <div class=" w-full pb-[26px]">
                                        <div class="flex w-full">
                                            <h6 class="text-3xl"
                                                style="font-family: Poppins;
                                                       font-style: normal;
                                                       font-weight: bold;
                                                       font-size: 16px;">
                                                Errors
                                            </h3>
                                        </div>
                                        <div class=" w-full">
                                            {{ form.non_field_errors }}
                                            {{ form.errors  }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="grid lg:grid-cols-2 w-full mb-6 gap-5">
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.full_name.id_for_label }}">
                                            {{ form.full_name.label }}
                                        </label>
                                        {% render_field form.full_name class="block py-3 px-4 w-full bg-gray-200 text-gray-700 border-gray-200 border rounded py-3 px-4 focus:outline-none focus:border-0 focus:ring-0" %}
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.relation.id_for_label }}">
                                            {{ form.relation.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.relation class="block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.date_of_birth.id_for_label }}">
                                            {{ form.date_of_birth.label }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.date_of_birth type="date" class="block py-3 px-4 w-full bg-gray-200 text-gray-700 border-gray-200 border rounded py-3 px-4 focus:outline-none focus:border-0 focus:ring-0" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.gender.id_for_label }}">
                                            {{ form.gender.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.gender class="block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0" class="border:0; height:48px; background: #FCFCFC; border-radius: 12px;" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.email.id_for_label }}">
                                            {{ form.email.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.email class="block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0" class="border:0; height:48px; background: #FCFCFC; border-radius: 12px;" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.phone.id_for_label }}">
                                            {{ form.phone.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.phone class="block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0"  %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.education.id_for_label }}">
                                            {{ form.education.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.education class="block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.occupation.id_for_label }}">
                                            {{ form.occupation.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.occupation class="block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0 lg:col-span-2">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.address.id_for_label }}">
                                            {{ form.address.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.address class="h-[112px] block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0" style="width: 100% !important;" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0 lg:col-span-2">
                                        <label class="block tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.remarks.id_for_label }}">
                                            {{ form.remarks.label  }}
                                        </label>
                                        <div class="relative">
                                            {% render_field form.remarks class=" h-[112px] block py-3 px-4 w-full border-0 rounded-xl py-3 px-4 focus:outline-none focus:ring-0" style="width: 100% !important;" %}
                                        </div>
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                    <div class="w-full mb-6 md:mb-0 lg:col-span-2">
                                        <label class="tracking-wide text-[background: #6E7191] text-xs font-bold mb-2"
                                               style="font-family: Inter;"
                                               for="{{ form.is_primary.id_for_label }}">
                                            Primary Member
                                        </label>
                                        {% render_field form.is_primary class="py-3 px-4 w-full rounded-xl py-3 px-4 focus:outline-none focus:ring-0 rounded-2xl " style="border-width: 1px !important" %}
                                        <p class="text-gray-500 my-2 mx-6">
                                        </p>
                                    </div>
                                </div>
                                <div class="flex flex-wrap w-full mb-6 md:mb-0 pb-[21px]">
                                    <input type="submit"
                                           class="cursor-pointer justify-center items-center absolute bg-[#333333] hover:bg-[#696969] rounded-xl w-[207px] h-14 text-white"
                                           value="Create"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
